<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pm.iesvives.enigdam_class">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activities.Difficulty" android:screenOrientation="landscape"/>
        <activity android:name=".Game.NavHost" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.Profile" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.Lobby" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.Scores" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.Registry" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.Login" android:screenOrientation="landscape"/>
        <activity android:name=".Activities.MainActivity" android:screenOrientation="landscape" />
        <activity android:name=".Activities.Start" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>